<div class="center-page">
<div class="container mt-2" style="max-width: 1200px;">
    <div class="row">
        <div class="col-6">
                <div class="logo">
                    <img src="/images/MyMiniDashboardSquare_2.png" style="max-width: 40%; height: auto; ">
                </div>
                <br>
                <h1>Get started today</h1>
            <div id="registrationText">
                <ul>
                    <li>Make connections.</li>
                    <li>Share your interests.</li>
                    <li>Discover new things.</li>
                </ul>
                <h4>All with one app.</h4>
            </div>
        </div>

        <div class="col-6" id="accountRegistration">
        <h1>Create Account</h1>
        {{> message}}
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="mt-3 link">Already have an account? <a href="/login">Login</a></p>
        </div>


    </div>
</div>
</div>