<div class="center-page">
<div class="container mt-4" style="max-width: 1200px;">
    <div class="row">
        <div class="col-6 mt-5">
            <h1>
            Get started with <br>
                <div class="logo">
                    <span class="my">My</span><span class="mini">Mini</span><span class="dash">Dashboard</span>
                </div>
            </h1>
            <div id="registrationText">
                <ul>
                    <li>Make connections.</li>
                    <li>Share ideas.</li>
                    <li>Have a good time.</li>
                </ul>
                <h4>All with one app.</h4>
            </div>
        </div>

        <div class="col-6" id="accountRegistration">
        <h1>Create Account</h1>
        {{> message}}
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="mt-3 link">Already have an account? <a href="/login">Login</a></p>
        </div>


    </div>
</div>
</div>