body {
    font-family:Arial;
}

h1 {
    font-family:Arial;
    font-weight: 500px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid;
    border-radius: 30px; 
    color:darkgray
}

button[type="submit"] {
    background-color:#00bf63;
    border: 1px solid;
    border-color: #00bf63;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color:#008a47;
    border: 1px solid;
    border-color: #008a47;
    border-radius: 10px;
}

ul {
    list-style-type: circle;
    line-height: 50px;
}